@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 2.4rem;
    margin: 30px 0;
    line-height: 1.1;
    font-weight: 500;
}

h2 {}

#home {
    position: relative;
    background-color: #0a0a0a;
    width: 100%;
    background: url(./images/background.png) center center/cover;
    object-fit: fill;
    display: flex;
    align-items: stretch;
    min-height: 90vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 90vw;
}

.home__Content {
    color: white;
    max-width: 540px;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home__Content h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.home__Content h5 {
    line-height: 1.1;
    font-size: 1.15rem;
    font-weight: 300;
    opacity: .8;
}

.img__Container {
    position: absolute;
    z-index: 100;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    margin: 0 auto;
    height: 375px;
}

.img__Container>img {
    display: block;
    width: 100%;
}

.partners {
    background-color: #0a0a0a;
    padding: 40px 0;
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 50px;
    align-items: center;
    justify-items: center;
}

.services {
    padding: 50px 0;
    background: linear-gradient(rgba(16, 16, 18, 1) 30%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(90deg, #4DD2A0 40%, #C19FFF);
    color: #fff;
}

.services img {
    display: block;
    border: 1px solid #fff;
    border-radius: 12px;
}

.underline {
    width: 400px;
    height: 1.2px;
    border-radius: 18px;
    background-color: #fff;
    margin: 0;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    margin: 20px 0;
    text-align: center;
}

.row {
    margin: 100px 80px;

}

.row__Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

}

.cards_Container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-around;
    column-gap: 2rem;
}

.card {
    position: relative;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10rem;
    z-index: 100;
    transition: all 1s ease-in;
}

@keyframes textAnimation {
    from {
        display: none;
    }

    to {
        display: block;
    }

}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/background.png') no-repeat center center/cover;
    border-radius: 12px;
    border: 1px solid #fefefe;
    z-index: -100;
}

.card h4 {
    padding-bottom: 4px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    z-index: 1000;
    border-bottom: 3px solid #ffe;
    margin: 15px;
    border-radius: 3px;
}



.card p {
    display: block;
    color: #fff;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    padding: 0 12px;
}

.type__of__Services {
    position: relative;
    border-left: none;
    border-right: none;
    padding: 40px 0;
    background: linear-gradient(rgba(16, 16, 18, 1) 45%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(90deg, #4DD2A0 40%, #FFE91F);
    mix-blend-mode: lighten;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.type__of__Services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.type__of__Services h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: white;
}


.row__Content>div {}

.row__Content>div:nth-child(1) {
    animation: forwards popup-left 2s;
}

.row__Content>div:nth-child(3) {
    animation: forwards popup-right 2s;
}

.row__Content>div:nth-child(2) {
    animation: forwards popup-right 2s;
}

.row__Content img {
    overflow: hidden;
}

.row__Content img:nth-child(2) {
    flex: 1 0 auto;
    animation: forwards popup-right 2s;
}

.row__Content img:nth-child(3) {
    flex: 1 0 auto;
    animation: forwards popup-right 2s;
}

.row__Content img:nth-child(1) {
    flex: 1 0 auto;
    animation: forwards popup-left 2s;
}

.row__Content img {
    display: block;
    width: 450px;
    object-fit: cover;
    height: 250px;
}

.row__Content h2 {
    font-size: 32px;
    font-weight: 400;
    max-width: 420px;
}

.row__Content .text {
    font-size: 18px;
    font-size: medium;
    font-weight: 300;
    opacity: .6;
    margin: 20px 0;
}

.background__image {
    padding: 40px 0;
    position: relative;
    border-radius: 5px;
    height: 400px;
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

.background__image>div {
    flex: 1;
}

.background__image h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    max-width: 400px;
    text-align: center;

}

.layered__Image {
    flex: 0 0 40%;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
}

.background__image>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.btn {
    display: inline-block;
    border: none;
    background-color: rgb(150, 92, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 14px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 12px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.form {
    background: linear-gradient(110deg, rgba(16, 16, 18, 1) 80%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(120deg, hwb(261 62% 0%) 90%, #4DD2A0 100%);
    color: #fff;
    padding: 30px 0 100px 0;
    position: relative;
}

.form .title {
    font-weight: 300;
    font-size: 1.8rem;
}



input {
    display: block;
    padding: 15px;
    width: 100%;
    border: none;
    line-height: 1.4;
    background: rgb(37, 37, 37);
    color: rgb(146, 146, 146);
    box-shadow: transparent 0px 0px 0px 1px inset;
    margin: 15px 0;
    border-radius: 12px;
}

.form__Content {
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
}

.form__Content form {
    flex: 0 0 50%;

}

ul {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin: 20px 100px 0 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

a:hover {
    color: rgb(150, 92, 255);

}

.testimonials h1 {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.buttons_Container {
    max-width: 580px;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    justify-content: center;
}

.buttons_Container.buttons_ContainerOne {

    grid-template-columns: repeat(3, max-content);
}

.buttons_Container.buttons_ContainerTwo {
    grid-template-columns: repeat(2, max-content);

}

.btn.home {
    text-align: center;
    display: inline-block;
    border: none;
    background-color: #002E78;
    color: white;
    border-radius: 80px;
    font-weight: 400;

}

.btn.home:hover {
    opacity: .86;
}

.tagline {
    background: linear-gradient(110deg, rgba(16, 16, 18, 1) 80%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(120deg, hwb(261 62% 0%) 90%, #4DD2A0 100%);
}

.tagline .container {
    padding: 40px 0;
}

@media screen and (max-width: 576px) {

    #home {
        position: relative;
        min-height: 500px;
        /* height: 100vh; */
        height: 80vh;
    }

    #home .container {
        width: 90vw;
        margin: 0 auto;
        max-width: 420px;
        height: 100%;
    }

    .cards_Container {
        grid-template-columns: 1fr;
        padding: 10px 20px;
        row-gap: 20px;
    }

    .form__Content {
        flex-direction: column;
        margin: 0;
    }

    .form__Content form {
        flex: 1;

    }

    .form .title {
        font-size: 24px;
    }

    .form__Content form button {
        width: 100%;
    }

    .form__Content ul {
        margin: 20px auto;
    }

    .img__Container {
        position: absolute;
        width: 90vw;
        margin: 0 auto;
        bottom: 0;
        height: 160px;
    }

    .img__Container img {
        display: block;
        object-fit: cover;
    }

    .partners {
        display: flex;
        flex-direction: column;
    }

    .services .row__Content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .services .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .row__Content div {
        display: flex;
        flex-direction: column;
    }

    .row__Content .text {
        margin: 0 auto;
        padding: 10px 14px;
    }

    .row__Content h2 {
        text-align: center;
        padding: 10px 14px;
    }

    .underline {
        width: 300px;
    }

    .row__Content div p {
        max-width: 380px;
    }

    .row__Content .card {
        row-gap: 6rem;
    }

    .card p {
        max-width: 280px;
        flex: 1;
        font-size: 18px;
    }

    .services .row {
        margin: 15px 10px;
    }

    .services .row__Content img {
        width: 90vw;
    }

    .services .row__Content:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    .services .row__Content:nth-child(3) {
        display: flex;
        flex-direction: column;
    }

    .services .row__Content:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }



    .tagline .container {
        padding: 40px 60px;
        width: 95vw;
    }

    .tagline .container .background__image {
        margin: 20px 8px;
        justify-content: center;


    }

    .services {
        padding: 30px 10px;
        background: linear-gradient(rgba(16, 16, 18, 1) 45%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(90deg, #4DD2A0 40%, #FFE91F),
    }



    .layered__Image {
        display: none;
    }

    .background__image h3 {
        max-width: 240px;
        margin: 0 auto;
        text-align: center;
    }

    .testimonials h1 {
        font-weight: 400;
    }

    .form .container {
        width: 90vw;
        margin: 0 auto;
    }
}

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 12px;
    position: absolute;
    top: 0;
    border: 1px solid #fff;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    color: #fefefe;
    background: linear-gradient(110deg, rgba(16, 16, 18, 1) 80%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(120deg, hwb(261 62% 0%) 90%, #4DD2A0 100%);
}

.modal div {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
}

/** Overlay */
.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

/** JS */
.is-visible {
    opacity: 1;
    pointer-events: auto;
}